* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat';
    font-style: normal;
    color: var(--texColor);
}

:root {
    --bgPrimary: #151819;
    --bgSecond: #1B1E22;
    --accent: #ED145B;
    --texColor: #91A3AD;
}

body {
    background-color: var(--bgPrimary);
    height: 100vh;
}

.main-header {
    background-color: var(--bgPrimary);
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 4px var(--accent);
}

.main-header>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hearder-img-logo {
    margin: 0px 0px 5px 15px;
}

.hearder-img-quit {
    margin-right: 15px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: var(--bgSecond);
    padding: 10px;
}

section>article>div>p {
    border-left: 2px solid var(--accent);
    padding-left: 5px;
}

section>article>header {
    display: flex;
    align-items: center;
    gap: 10px;
}

section>article>main {
    margin-top: 15px;
}

section>article>main>p {
    margin: 10px;
    padding-left: 30px;
    border-left: 2px solid var(--accent);
}

section>article>main>img{
    width: calc(100% + 20px);
    margin-left: -10px;
}

section>article>div>button {
    background-color: var(--bgPrimary);
    padding: 5px;
    font-size: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border: none;
}

h2 {
    color: var(--texColor);
}

h1 {
    color: var(--texColor); 
}
